*{
    color: white;
}
/* 
 .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}
 .loader-overlay-active {
    animation: spin-out 1s linear forwards;
}

.loader {
    border: 16px solid #f3f3f3;  
    border-top: 16px solid #3498db;  
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin-out {
    0% { opacity: 1; }
    100% {
         opacity: 0; 
        display: none;
        }
} */
 .iconlanguage{
    width: 7vw !important;
    background-color: white;
    padding: 1px;
    border-radius: 5px;
 }
.icon{
    width: 7vw !important;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.route{
    padding: 10px;
}
.sideNavbarOpenToClose{
    animation: closeing 100ms linear forwards;
}
.sideNavbarCloseToOpen{
    animation: opening 100ms linear forwards;
}
/* 'w-[30vw]' : 'w-[10vw]' */
@keyframes opening {
    0% { width: 10vw; }
    100% {width: 30vw;}
}
@keyframes closeing {
    0% { width: 30vw; }
    100% {width: 10vw;}
}